@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html,
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fffef7;
}

div {
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Open Sans", sans-serif;
}

form {
  /* added temporarily for the api test forms to look a little better */
  display: flex;
  flex-direction: column;
}

.fileOutput__container {
  white-space: pre-line; /* recognizes <br /> in the HTML and will line break it. Pretty coolllll*/
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
