html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

form { /* added temporarily for the api test forms to look a little better */
  display: flex;
  flex-direction: column;
}

.fileOutput__container{
  white-space: pre-line;  /* recognizes <br /> in the HTML and will line break it. Pretty coolllll*/
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
